In [5]:
import pandas as pd 
import numpy as np 
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [11]:
dados = pd.read_csv("/Users/joaov/Documents/pend/CÃ³digos_Python/Dados Carrefour/titanic/train.csv",)
dados.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [17]:
dados = dados.drop(["Name", "Ticket","Cabin","Embarked"], axis =1)
dados.head()

KeyError: "['Name' 'Ticket' 'Cabin' 'Embarked'] not found in axis"

# **Editando uma chave forte**

In [16]:
dados = dados.set_index(["PassengerId"])
dados = dados.rename(column = {'Survived' : 'target'}, Inplace = False)
dados.head()

KeyError: "None of ['PassengerId'] are in the columns"

In [21]:
dados = dados.rename(columns = {'Survived' : 'target'}, inplace= False)
dados.head()

             target  Pclass     Sex   Age  SibSp  Parch     Fare
PassengerId
1                 0       3    male  22.0      1      0   7.2500
2                 1       1  female  38.0      1      0  71.2833
3                 1       3  female  26.0      0      0   7.9250
4                 1       1  female  35.0      1      0  53.1000
5                 0       3    male  35.0      0      0   8.0500